.button {
    &__default {
        border: none;
        outline: none;
        transition: .1s;
        cursor: pointer;
        background: lightgray;
        color: black;
        border-radius: .5rem;
        padding: .7rem .5rem;
        border: 1px solid transparent;

        &:hover {
            background: transparent;
            color: lightgray;
            border: 1px solid lightgray;
        }

        &--dark {
            border: none;
            outline: none;
            transition: .1s;
            cursor: pointer;
            background: black;
            color: lightgray;
            border-radius: .5rem;
            padding: .7rem .5rem;
            border: 1px solid transparent;

            &:hover {
                background: transparent;
                color: lightgray;
                border: 1px solid lightgray;
            }

        }
    }

    &__outline {
        border: none;
        outline: none;
        transition: .1s;
        cursor: pointer;
        background: transparent;
        color: black;
        border-radius: .5rem;
        padding: .7rem .5rem;
        border: 1px solid black;

        &:hover {
            background: black;
            color: white;
            border: 1px solid transparent;
        }

        &--dark {
            border: none;
            outline: none;
            transition: .1s;
            cursor: pointer;
            background: transparent;
            color: lightgray;
            border-radius: .5rem;
            padding: .7rem .5rem;
            border: 1px solid lightgray;

            &:hover {
                background: lightgray;
                color: black;
                border: 1px solid transparent;
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    .button {
        &__default {
            width: 100%;

            &--dark {
                width: 100%;
            }
        }

        &__outline {
            width: 100%;

            &--dark {
                width: 100%;
            }
        }
    }
}