.chat {

    & * {
        transition: .2s;
    }

    &__page-container {
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;
        // place-content: center;
        // max-width: 100%;
        // height: 100vh;
        // overflow: hidden;
    }

    &__container {
        display: flex;
        flex-direction: row;
        position: relative;
        min-height: 100vh;

        &--dark {
            display: flex;
            flex-direction: row;
            position: relative;
            background: #14181E;
            color: lightgray;
            min-height: 100vh;
        }
    }

    &__panel {
        position: fixed;
        top: 0;
        width: 18rem;
        height: 100vh;
        background: #0c0c0c;

        & * {
            background: inherit;
        }

        &-ghost {
            width: 18rem;
        }

        &-form {
            margin: 1rem;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }

        &-prompt {

            &-title {
                margin: 0 0 .3rem 0;
                font-size: .9rem;
            }

            &-input {
                width: -webkit-fill-available;
                resize: none;
                border: none;
                outline: none;
                border-radius: .5rem;
                background: rgb(243, 243, 243);
                padding: .5rem;
                font-size: .9rem;

                &--dark {
                    width: -webkit-fill-available;
                    resize: none;
                    border: none;
                    outline: none;
                    border-radius: .5rem;
                    background: #2F2F2F;
                    padding: .5rem;
                    font-size: .9rem;
                    color: lightgray;
                }

                &::placeholder {}
            }
        }

        &-switches {
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }

    }

    &__file {
        &-title {
            font-size: .9rem;
            margin-bottom: .3rem;
        }

        &-list {
            display: flex;
            flex-direction: column;
            border-radius: .5rem;
            overflow: hidden;

            & * {
                background: inherit;
            }

            &-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 0 .5rem;
                cursor: default;

                &:hover {
                    opacity: .8;

                    & * {
                        background: inherit;
                    }
                }
            }
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 800px;
        max-width: 100%;
        height: 100%;
    }

    &__output {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100%;
        width: 100%;
        max-width: 90vw;
        position: relative;
        margin: 0 auto 6rem auto;
    }

    &__box {
        display: flex;
        flex-direction: column;
        width: 100%;

        &-list {
            width: 100%;
            margin-bottom: 2rem;
        }

        &-hi {
            font-size: 1.8rem;
            font-weight: bold;
            text-align: center;
            transition: .5s;
        }
    }


    &__message {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 2rem 0;
        gap: 2rem;
        width: 100%;

        &-assistant {
            justify-content: flex-start;
        }

        &-completion {
            margin-bottom: 3rem;
        }

        &-avatar {
            width: 2rem;
            height: 2rem;
            background: transparent;

            &--dark {
                width: 2rem;
                height: 2rem;
                background: transparent;
                filter: invert(88%) sepia(0%) saturate(46%) hue-rotate(166deg) brightness(92%) contrast(106%);
            }
        }

        &-bubble {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            width: fit-content;
            max-width: 80%;

            &-assistant {
                max-width: 100%;
                width: 100%;
            }
        }

        &-content {
            justify-self: flex-end;
            padding: .5rem 1.25rem;
            border-radius: 1.25rem;
            line-height: 1.75;
            font-size: 1rem;
            background: #ededed;

            &>* {
                background: inherit;
                margin: 0;
            }

            &--dark {
                justify-self: flex-end;
                padding: .5rem 1.25rem;
                border-radius: 1.25rem;
                line-height: 1.75;
                font-size: 1rem;
                background: #2F2F2F;

                &>* {
                    background: inherit;
                    margin: 0;
                }
            }

            &-assistant {
                background: transparent;
                max-width: unset;
                padding: 0;
                justify-self: flex-start;
                line-height: 1.75;
                font-size: 1rem;

                &>* {
                    background: inherit;
                    margin: 0;
                    max-width: 100%;
                }
            }
        }

        &-copy {
            cursor: pointer;
            transition: .1s;
            height: 1.1rem;
            padding: .4rem .2rem;
            border-radius: .5rem;
            opacity: .8;

            &:hover {
                background: #e7e7e7;
            }

            &--dark {
                cursor: pointer;
                transition: .1s;
                height: 1.1rem;
                padding: .4rem .2rem;
                border-radius: .5rem;
                opacity: .8;

                &:hover {
                    background: #323232;
                }
            }
        }
    }

    &__code-header {
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 2rem;
        padding-top: .2rem;
        z-index: 1;
        justify-content: space-between;

        &-language {
            margin-left: 1rem;
            color: gray;
        }

        &-copy {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 1rem;
            gap: .1rem;
            cursor: pointer;
            transition: .1s;

            &:hover {
                opacity: .7;
            }

            &-text {
                font-size: .8rem;
                color: gray;
            }

            &-svg {
                height: 1.2rem;
                color: gray;
            }

            &--dark {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-right: 1rem;
                gap: .1rem;
                cursor: pointer;
                transition: .1s;

                &:hover {
                    opacity: .7;
                }

                &-text {
                    font-size: .8rem;
                    color: gray;
                }

                &-svg {
                    height: 1.2rem;
                    color: gray;
                }
            }
        }

    }

    &__form {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: #ededed;
        border-radius: 2rem;
        height: fit-content;

        &--dark {
            display: flex;
            flex-direction: row;
            align-items: center;
            background: #2F2F2F;
            border-radius: 2rem;
            height: fit-content;

        }

        &-container {
            position: fixed;
            bottom: 0;
            padding-bottom: 2rem;
            width: 800px;
            max-width: 90vw;
            border-top-left-radius: 2rem;
            border-top-right-radius: 2rem;
            background: white;
            z-index: 1;

            &--dark {
                background: #14181E;
                position: fixed;
                bottom: 0;
                padding-bottom: 2rem;
                width: 800px;
                max-width: 90vw;
                border-top-left-radius: 2rem;
                border-top-right-radius: 2rem;
                z-index: 1;
            }
        }

        &-input {
            border: none;
            outline: none;
            background: transparent;
            box-sizing: border-box;
            resize: none;
            font-size: 1rem;
            padding: 1rem 0;
            width: 100%;
            max-height: 40vh;

            &--dark {
                border: none;
                outline: none;
                background: transparent;
                box-sizing: border-box;
                resize: none;
                font-size: 1rem;
                padding: 1rem 0;
                width: 100%;
                max-height: 40vh;
                color: lightgray;
            }
        }

        &-attachment {
            background: transparent;

            &-svg {
                cursor: pointer;
                margin: .8rem;
                height: 1.5rem;
                background: transparent;
                width: fit-content;
                transition: .1s;

                &:hover {
                    opacity: .6;
                }

                &--dark {
                    cursor: pointer;
                    margin: .8rem;
                    height: 1.5rem;
                    background: transparent;
                    width: fit-content;
                    filter: invert(88%) sepia(0%) saturate(46%) hue-rotate(166deg) brightness(92%) contrast(106%);
                    transition: .1s;

                    &:hover {
                        filter: invert(88%) sepia(0%) saturate(46%) hue-rotate(166deg) brightness(110%) contrast(106%);
                    }
                }
            }
        }

        &-send {
            border-radius: 50%;
            margin: 0 .6rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            height: 2rem;
            width: 2rem;
            background: lightgray;

            &:hover {
                opacity: .8;
            }

            &-svg {
                background: transparent;
            }
        }
    }
}

@media only screen and (max-width: 1150px) {
    .chat {
        &__container {
            flex-direction: column;

            &--dark {
                flex-direction: column;
            }
        }

        &__file {
            &-list {
                &-item {
                    &-filename {
                        margin: .7rem .5rem;
                    }
                }
            }
        }

        &__panel {
            width: 100vw;
            z-index: 1;
            height: fit-content;
            position: relative;

            &-ghost {
                display: none;
            }

            &-form {
                flex-direction: row;
                align-items: flex-end;
                justify-content: center;
                flex-wrap: wrap;
                height: fit-content;
            }


            &-prompt {
                max-width: 100%;
                margin-bottom: -4px;

                &-input {
                    padding: .8rem .5rem;

                    &--dark {
                        padding: .8rem .5rem;
                    }
                }
            }
        }

        &__main {
            // margin-top: 15vh;
            min-height: -webkit-fill-ava;
        }


        &__output {}

        &__form {
            &-container {
                margin: 0 2rem;
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    .chat {
        &__container {}


        &__panel {
            &-prompt {
                width: 100%;
            }

            &-switches {
                justify-content: space-between;
                width: 100%;
            }
        }

        &__file {
            &-list {
                &-ingested {
                    width: 100%;
                }
            }
        }

        &__main {
            // margin-top: 35vh;
        }


        &__message {
            gap: 1rem;

            &-avatar {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }
}